.footer {
  background-color: $secondary-color;
  color: white;
  .social-media {
    a {
      font-size: 20px;
      color: #998b6d;
      &:hover {
        color: white;
      }
    }
  }
  .footer-link {
    .row {
      .col-lg-2 {
        ul {
          li {
            position: relative;
            width: fit-content;
            &::before {
              content: "";
              height: 1px;
              width: 0%;
              background-color: white;
              position: absolute;
              top: 18px;
              left: 0px;
              display: none;
              transition: 0.5s;
            }
            &:hover {
              color: white;
              // text-decoration: underline;
              &::before {
                display: block;
                width: 100%;
              }
            }
          }
        }
        .heading {
          position: relative;
          &::after {
            content: "";
            height: 2px;
            width: 15%;
            background-color: white;
            position: absolute;
            left: 0px;
            top: 20px;
          }
        }
      }
      .col-lg-4 {
        .heading {
          position: relative;
          &::after {
            content: "";
            height: 2px;
            width: 8%;
            background-color: white;
            position: absolute;
            left: 0px;
            top: 20px;
          }
        }
        p {
          font-family: $primary-font;
          font-size: 14px;
          font-weight: 400;
          color: #998b6d;
        }
        .icons {
          font-size: 12px;
          color: #998b6d;
        }
      }
    }
    .copy-right {
      font-family: $primary-font;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      color: #998b6d;
      a {
        text-decoration: none;
        color: white;
        position: relative;
        &::before {
          content: "";
          height: 1px;
          width: 0%;
          left: 0px;
          background-color: white;
          position: absolute;
          top: 15px;
          display: none;
          transition: 0.5s;
        }
        &:hover {
          &::before {
            display: block;
            width: 100%;
          }
        }
      }
    }
  }
}
