.banner-items {
  img {
    height: 100%;
  }
  position: relative;
  .banner-content {
    position: absolute;
    top: 20%;
    left: 10%;
    color: white;
    a {
      padding: 8px 15px;
      background-color: $primary-color;
    }
    .banner-heading {
      font-family: $primary-font;
      font-weight: 700;
      font-size: 119px;
    }
    p {
      font-family: $primary-font;
      font-weight: 500;
      font-size: 73px;
    }
  }
}
// ----------------------------------------------------FEATURED CATEGORY-------------------------------------------------
.item-details {
  .wrapper {
    position: relative;
    a {
      position: absolute;
      right: 50%;
      top: 90%;
      padding: 10px 20px;
      background-color: white;
      width: fit-content;
    }
  }
}
