* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none !important;
  color: inherit !important;
}
.text {
  font-family: $primary-font;
  font-size: 13px;
  font-weight: 400px;
}
.heading {
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 700px;
}
.name {
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 400px;
  color: #998b6d;
}
.title {
  text-align: center;
  h5 {
    font-size: $primary-font;
    font-size: 14px;
    font-weight: 400;
    color: rgb(155, 155, 155);
  }
  h2 {
    font-size: $primary-font;
    font-size: 26px;
    font-weight: 400;
    color: rgb(27, 25, 25);
  }
  span {
    font-size: $primary-font;
    font-size: 14px;
    font-weight: 400;
    color: rgb(76, 76, 76);
  }
}
